# Proyek Analisis Data: [Brazilian E-Commerce Public Dataset by Olist]
- **Nama:** Yunico Ardian Pradana
- **Email:** yunicoardian123@gmail.com
- **ID Dicoding: yunicoardian**

## Menentukan Pertanyaan Bisnis
- Pertanyaan 1 : Negara bagian mana saja yang memiliki pendapatan tertinggi?
- Pertanyaan 2 : Bagaimana Trend Pendapatan/Pemasukan di 5 negara dengan revenue tertinggi ?
- Pertanyaan 3 : Produk apa saja yang menjadi sumber pendapatan terbesar di lima negara bagian tersebut ?

## Import Semua Packages/Library yang Digunakan

In [1]:
import pandas as pd
import zipfile
import plotly.express as px
from plotly.subplots import make_subplots

## Data Wrangling

### Gathering Data

In [2]:
# read zip
zip_file = zipfile.ZipFile('archive.zip', 'r')
# extract zip to new folder
zip_file.extractall('datasets/')
# close zipfile
zip_file.close()

#### Baca Dataframe customers

In [3]:
df_customer = pd.read_csv('datasets/olist_customers_dataset.csv')
df_customer.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

#### Baca Dataframe geolocation

In [4]:
df_geolocation = pd.read_csv('datasets/olist_geolocation_dataset.csv')
df_geolocation.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

#### Baca Dataframe order_items

In [5]:
df_order_items = pd.read_csv('datasets/olist_order_items_dataset.csv')
df_order_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

#### Baca Dataframe order_payments

In [6]:
df_order_payments = pd.read_csv('datasets/olist_order_payments_dataset.csv')
df_order_payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

#### Baca Dataframe order_reviews

In [7]:
df_order_reviews = pd.read_csv('datasets/olist_order_reviews_dataset.csv')
df_order_reviews.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

#### Baca Dataframe orders_dataset

In [8]:
df_orders_dataset = pd.read_csv('datasets/olist_orders_dataset.csv')
df_orders_dataset.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

#### Baca Dataframe products_dataset

In [9]:
df_products_dataset = pd.read_csv('datasets/olist_products_dataset.csv')
df_products_dataset.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

#### Baca Dataframe sellers_dataset

In [10]:
df_sellers_dataset = pd.read_csv('datasets/olist_sellers_dataset.csv')
df_sellers_dataset.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

#### Baca product category

In [11]:
df_product_name = pd.read_csv('datasets/product_category_name_translation.csv')
df_product_name.head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

### Assessing Data

In [ ]:
# Store dataframes in a list
dataframes = [df_customer, df_geolocation, df_order_items, df_order_payments, df_order_reviews, df_orders_dataset, df_products_dataset, df_sellers_dataset, df_product_name]

for df in dataframes:
    # Get the variable name using globals()
    df_name = [name for name, obj in globals().items() if obj is df][0]
    print(f"\nCustom Info for {df_name} dataframe:")
    print(df.info())

Selanjutnya kita mencoba untuk melihat jumlah Null Value pada tiap dataframe

In [ ]:
for df in dataframes:
    # Get the variable name using globals()
    df_name = [name for name, obj in globals().items() if obj is df][0]
    
    print(f"\nMissing Values in {df_name} dataframe:")
    print(df.isna().sum())

selanjutnya kita cek juga duplikat pada tiap dataframe

In [ ]:
for df in dataframes:
    # Get the variable name using globals()
    df_name = [name for name, obj in globals().items() if obj is df][0]
    print(f"\nTotal baris duplikat pada {df_name} dataframe: {df.duplicated().sum()}")

selanjutnya check distribusi data

In [ ]:
for df in dataframes:
    # Get the variable name using globals()
    df_name = [name for name, obj in globals().items() if obj is df][0]
    
    print(f"\nDistribusi data pada {df_name} :")
    print(df.describe())

In [ ]:
df_orders_dataset.order_status.value_counts()

### Cleaning Data

Pada saat kita check duplikat terlihat bahwa di dataframe df_geolocation terdapat duplikat sejumlah 261831 sehingga perlu penanganan lebih lanjut dengan cara menghapus diplikat

In [ ]:
df_geolocation.drop_duplicates(inplace=True)

setelah kita menghapus duplikat, cek kembali untuk memastikan tidak ada duplikat

In [ ]:
df_geolocation.duplicated().sum()

selanjutnya ialah kita check null value pada dataframe df_order_reviews

In [ ]:
df_order_reviews.isna().sum()

Hasil diatas menunjukkan kolom review_comment_title dan review_comment_message terdapat nilai null value, maka langkah selanjutnya ialah kita melakukan imputasi atau menambahkan nilai default string "No Tittle" dan "No Message"

In [ ]:
df_order_reviews["review_comment_message"].fillna("No Message", inplace=True)
df_order_reviews["review_comment_title"].fillna("No Title", inplace=True)

Pada saat kita assessing data, terdapat beberapa kolom yang seharusnya tipe datanya datetime malah obj/str. oleh karena itu kita perlu mengubahnya kedalah format datetime. beberapa kolom yang memerlukan perubahan ada di dataset df_orders_dataset, df_order_reviews, dan df_order_items

In [ ]:
df_order_items['shipping_limit_date'] = pd.to_datetime(df_order_items['shipping_limit_date'])

In [ ]:
orders_column = [
    'order_delivered_carrier_date', 
    'order_delivered_customer_date', 
    'order_estimated_delivery_date', 
    'order_purchase_timestamp', 
    'order_approved_at'
]

for column in orders_column:
    df_orders_dataset[column] = pd.to_datetime(df_orders_dataset[column])

In [ ]:
col123 = ['review_creation_date', 'review_answer_timestamp']
df_order_reviews[col123] = df_order_reviews[col123].apply(pd.to_datetime)

## Exploratory Data Analysis (EDA)

### Pertanyaan No 1

In [ ]:
# Hanya pesanan yang telah dikirim yang akan digunakan dalam analisis berikut.
df_orders123 = df_orders_dataset[df_orders_dataset['order_status'] == 'delivered'] # Pilih pesanan dengan status terkirim
df_orders123 = df_orders123.reset_index(drop = True) # Mengatur ulang indeks kolom

# Dalam analisis berikut ini ada 4 kolom yang akan digunakan dari tabel orders: 
# order_id, customer_id, order_status, order_purchase_timestamp

kolom_yang_dihapus = ['order_approved_at','order_delivered_carrier_date', 'order_delivered_customer_date', 
'order_estimated_delivery_date']
df_orders123 = df_orders123.drop(kolom_yang_dihapus, axis=1)

df_orders123['order_purchase_timestamp'] = pd.to_datetime(df_orders123['order_purchase_timestamp'])
df_orders123.info()

In [ ]:
# Gabungkan dataframe df_orders123 dan df, lalu simpan di dataframe revenue_states
revenue_states = pd.merge(df_orders123, df_customer, how='left', on='customer_id')

# Gabungkan dataframe revenue_states dan payments table, then stored in revenue_states
revenue_states = pd.merge(revenue_states, df_order_payments, how='left', on='order_id')
revenue_states

ubah singkatan yang ada pada kolom customer_state

In [ ]:
# Kamus untuk mengganti singkatan dengan nama lengkap
state_mapping = {
    'AC': 'Acre',
    'AL': 'Alagoas',
    'AM': 'Amazonas',
    'AP': 'Amapa',
    'BA': 'Bahia',
    'CE': 'Ceara',
    'DF': 'Distrito Federal',
    'ES': 'Espirito Santo',
    'GO': 'Goias',
    'MA': 'Maranhao',
    'MG': 'Minas Gerais',
    'MS': 'Mato Grosso do Sul',
    'MT': 'Mato Grosso',
    'PA': 'Para',
    'PB': 'Paraiba',
    'PE': 'Pernambuco',
    'PI': 'Piaui',
    'PR': 'Parana',
    'RJ': 'Rio de Janeiro',
    'RN': 'Rio Grande do Norte',
    'RO': 'Rondonia',
    'RR': 'Roraima',
    'RS': 'Rio Grande do Sul',
    'SC': 'Santa Catarina',
    'SE': 'Sergipe',
    'SP': 'Sao Paulo',
    'TO': 'Tocantins'
}

# Mengganti singkatan dengan nama lengkap menggunakan map
revenue_states['customer_state'] = revenue_states['customer_state'].map(state_mapping)

In [ ]:
revenue_states.info()

In [ ]:
revenue_states[revenue_states.isna().any(axis=1)]

Karena hanya ada 4 nilai yang hilang dalam 1 baris dari 100757 baris, menghapus satu baris tidak akan mempengaruhi analisis secara signifikan.

In [ ]:
revenue_states = revenue_states.dropna()

In [ ]:
# From table 1, group by 'customer_state' and sum the 'payment_value' for each state
revenue_by_state = revenue_states.groupby('customer_state')['payment_value'].sum().reset_index()

# Sort the summary by highest revenue in descending order
revenue_by_state = revenue_by_state.sort_values(by='payment_value', ascending=False)
revenue_by_state.columns = ['State', 'Revenue']
revenue_by_state

### Pertanyaan No 2

di pertanyaan ke 2 ini kita ingin melihat trend revenue per bulan dari tahun 2016 hingga 2018 di 5 kota dengan revenue tertinggi. adapun implementasinya ada pada kode dibawah

In [ ]:
def calculate_monthly_revenue(revenue_states, state_column, states=None):
    if states:
        revenue_states = revenue_states[revenue_states[state_column].isin(states)]

    revenue_states['year'] = revenue_states['order_purchase_timestamp'].dt.year
    revenue_states['month'] = revenue_states['order_purchase_timestamp'].dt.month
    group_columns = ['year', 'month']
    if state_column in revenue_states.columns:
        group_columns.append(state_column)
    monthly_revenue = revenue_states.groupby(group_columns)['payment_value'].sum().reset_index()
    monthly_revenue = monthly_revenue.sort_values(by=[state_column, 'year', 'month']).reset_index(drop=True)
    monthly_revenue['year_month'] = monthly_revenue['year'].astype(str) + '-' + monthly_revenue['month'].astype(str)
    monthly_revenue.columns = ['year', 'month', 'state', 'revenue', 'year_month']
    return monthly_revenue

# Calculate monthly revenue for specific states
states_to_calculate = ['Sao Paulo', 'Rio de Janeiro', 'Minas Gerais', 'Rio Grande do Sul', 'Parana']
monthly_revenue_states = {}
for state in states_to_calculate:
    monthly_revenue_states[state] = calculate_monthly_revenue(revenue_states, 'customer_state', states=[state])

# Access the results
monthly_revenue_SP = monthly_revenue_states['Sao Paulo']
monthly_revenue_RJ = monthly_revenue_states['Rio de Janeiro']
monthly_revenue_MG = monthly_revenue_states['Minas Gerais']
monthly_revenue_RS = monthly_revenue_states['Rio Grande do Sul']
monthly_revenue_PR = monthly_revenue_states['Parana']

In [ ]:
monthly_revenue_SP

### Pertanyaan No 3

pada pertanyaan no 3, kita ingin melihat produk apa saja yang menjadi sumber pendapatan dari 5 negara bagian tersebut. prosesnya melibatkan beberapa penggabungan dataset. adapun implementasinya ada pada kode dibawah ini

In [ ]:
# Merge df_products_dataset table and df_product_name table, stored in products_merged
products_merged = pd.merge(df_products_dataset, df_product_name, how='left', on='product_category_name')

# Merge revenue_states table and df_order_items table, stored in revenue_order_items
revenue_order_items = pd.merge(revenue_states, df_order_items, how='left', on='order_id')

# Merge revenue_order_items table and products_merged table, stored in revenue_order_items
revenue_products = pd.merge(revenue_order_items, products_merged, how='left', on='product_id')

revenue_products.info()

In [ ]:
revenue_products = revenue_products.rename(columns={'product_category_name_english': 'product_category'})

In [ ]:
revenue_products = revenue_products[['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp', 'customer_state', 'payment_sequential', 'payment_type', 'payment_installments', 'payment_value', 'product_id', 'product_category']]
revenue_products.info()

In [ ]:
missing_values = revenue_products.isna().sum().reset_index().rename(columns={'index': 'column_name', 0: 'value'})
missing_values

In [ ]:
kl = revenue_products[revenue_products.isna().any(axis=1)]
kl

karena banyak sekali data yang missing value, disini saya memutuskan untuk menghapus baris data dimana category bernilai NaN

In [ ]:
revenue_products = revenue_products.dropna()

In [ ]:
# menampilkan baris yang duplikat
revenue_products[revenue_products.duplicated(keep=False)]

In [ ]:
# Removing duplicates values
revenue_products = revenue_products.drop_duplicates(keep='first') # Remove duplicate data and keep the first data that appears
revenue_products = revenue_products.reset_index(drop = True) # Reset the column index
revenue_products.info()

In [ ]:
def calculate_revenue_per_product_cat(revenue_data, state_list):
    revenue_by_state = {}
    
    for state in state_list:
        state_data = revenue_data[revenue_data['customer_state'] == state]
        revenue_by_state[state] = state_data.groupby('product_category')['payment_value'].sum().reset_index()
        
    return revenue_by_state

def calculate_revenue_proportion(revenue_by_state_dict, state):
    state_summary = revenue_by_state_dict.get(state)

    if state_summary is not None:
        state_summary['revenue_proportion'] = (state_summary['payment_value'] / state_summary['payment_value'].sum()) * 100
    
    return state_summary.rename(columns={'payment_value': 'revenue', 'revenue_proportion': 'revenue_proportion'})

def sort_by_revenue(revenue_summary, ascending=True):
    return revenue_summary.sort_values(by='revenue', ascending=ascending).head(10).reset_index(drop=True)

# Top 5 states with highest revenue
states = ['Sao Paulo', 'Rio de Janeiro', 'Minas Gerais', 'Rio Grande do Sul', 'Parana']

# Calculate revenue per product category for top 5 states
revenue_by_state_dict = calculate_revenue_per_product_cat(revenue_products, states)

In [ ]:
# Example usage for sorting by highest revenue
state = 'Sao Paulo'
state_summary = calculate_revenue_proportion(revenue_by_state_dict, state)
highest_SP = sort_by_revenue(state_summary, ascending=False)
highest_SP

In [ ]:
state = 'Rio de Janeiro'
state_summary = calculate_revenue_proportion(revenue_by_state_dict, state)
highest_RJ = sort_by_revenue(state_summary, ascending=False)
highest_RJ

In [ ]:
state = 'Minas Gerais'
state_summary = calculate_revenue_proportion(revenue_by_state_dict, state)
highest_MG = sort_by_revenue(state_summary, ascending=False)
highest_MG

In [ ]:
state = 'Rio Grande do Sul'
state_summary = calculate_revenue_proportion(revenue_by_state_dict, state)
highest_RS = sort_by_revenue(state_summary, ascending=False)
highest_RS

In [ ]:
state = 'Parana'
state_summary = calculate_revenue_proportion(revenue_by_state_dict, state)
highest_PR = sort_by_revenue(state_summary, ascending=False)
highest_PR

## Visualization & Explanatory Analysis

### Pertanyaan 1:
Negara bagian mana saja yang memiliki pendapatan tertinggi?

In [ ]:
# Create viz1 dataframe for visualization of revenue by state 
viz1 = revenue_by_state

# Create the visualization of revenue by state
fig = px.bar(data_frame=viz1, x='State', y='Revenue', title='Negara dengan Revenue Tertinggi')
fig.show()

### Pertanyaan 2: 
Bagaimana Trend Pendapatan/Pemasukan di 5 negara dengan revenue tertinggi ?

In [ ]:
fig = make_subplots(rows=3, cols=2, subplot_titles=('Revenue Trend Sao Paulo', 'Revenue Trend Rio de Janeiro', 
'Revenue Trend Minas Gerais', 'Revenue Trend Rio Grande do Sul', 'Revenue Trend Parana'))

# Add Plotly Express plots to each subplot
fig.add_trace(px.line(monthly_revenue_SP, x='year_month', y='revenue').data[0], row=1, col=1)
fig.add_trace(px.line(monthly_revenue_RJ, x='year_month', y='revenue').data[0], row=1, col=2)
fig.add_trace(px.line(monthly_revenue_MG, x='year_month', y='revenue').data[0], row=2, col=1)
fig.add_trace(px.line(monthly_revenue_RS, x='year_month', y='revenue').data[0], row=2, col=2)
fig.add_trace(px.line(monthly_revenue_PR, x='year_month', y='revenue').data[0], row=3, col=1)

# Update subplot titles (optional)
fig.update_layout(title_text='Trend Revenue di 5 Negara Bagian',
                  autosize=False,
                  width=1000,
                  height=1200,)

# Show the plot
fig.show()

### Pertanyaan 3: 
Produk apa saja yang menjadi sumber pendapatan terbesar di lima negara bagian tersebut ?

In [ ]:
from plotly.subplots import make_subplots
import plotly.express as px

# Daftar summary dan judul subplot
summaries = [highest_SP, highest_RJ, highest_MG, highest_RS, highest_PR]
titles = ['Sumber Pendapatan tertinggi Sao Paulo', 'Sumber Pendapatan tertinggi Rio de Janeiro', 'Sumber Pendapatan tertinggi Minas Gerais',
          'Sumber Pendapatan tertinggi Rio Grande do Sul', 'Sumber Pendapatan tertinggi Parana']

# Membuat subplot
fig = make_subplots(rows=3, cols=2, subplot_titles=titles)

# Menambahkan Plotly Express plots ke setiap subplot
for i, summary in enumerate(summaries):
    row = i // 2 + 1  # Hitung baris subplot
    col = i % 2 + 1   # Hitung kolom subplot
    fig.add_trace(px.bar(summary, x='product_category', y='revenue').data[0], row=row, col=col)

# Memperbarui layout
fig.update_layout(title_text='Sumber Pendapatan terbesar di 5 Negara dengan Revenue Tertinggi',
                  autosize=False,
                  width=1000,
                  height=1200)

# Menampilkan plot
fig.show()

## Conclusion

Negara dengan revenue/pendapatan tertinggi jika diurutkan *descending* adalah Sao Paulo, Rio de Janeiro, Minas Gerais, Rio Grande de Sul, Parana.

Pendapatan di negara bagian Sao Paulo, Rio de Janeiro, Minas Gerais, Rio Grande do Sul, dan Parana menunjukkan tren positif yang cenderung naik secara fluktuatif mulai dari bulan Oktober 2016 hingga Agustus 2018

Sumber pendapatan tertinggi di negara bagian Sao Paulo, Rio de Janeiro, Minas Gerais, Rio Grande do Sul adalah bed_bath_table sedangkan di negara bagian Parana pendapatan tertinggi ada di furniture_decor